.num
{
    left: -0.5%;
    top: 0;
    height: 100%;
    width: 8%;
    /*border: #6fff4b solid 1px;*/
    position: absolute;
    text-align:right;
}
.ji
{
    left: 7%;
    top: 2%;
    height: 80%;
    width: 8%;
    /*border: #6fff4b solid 1px;*/
    position: absolute;
    background-image: url("http://172.16.10.35:8000/static/HTML/census/ji.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.line_
{
    left: 18%;
    top: 30%;
    /*height: 0%;*/
    width: 50%;
    border: #6fff4b solid 3px;
    position: absolute;
}
.img
{
    right: 17%;
    top: -10%;
    height: 120%;
    width: 10%;
    /*border: #6fff4b solid 3px;*/
    position: absolute;
    background-image: url("http://172.16.10.35:8000/static/HTML/census/jiantou.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.ci
{
    right: 0%;
    top: 10%;
    height: 100%;
    width: 18%;
    /*border: red solid 1px;*/
    position: absolute;
}

#main
{
    top: 1.5%;
    left: 2%;
    height: 8%;
    width: 12%;
    position: absolute;
    background-image: url("http://172.16.10.35:8000/static/HTML/census/main.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

}





