#main_index
{
    position:absolute;
    /*border: red solid 1px;*/
    width: 100%;
    height: 100%;
    background-image: url("http://172.16.10.35:8000/static/HTML/main/back.jpg");
}

#titil
{
    position:absolute;
    /*border: red solid 1px;*/
    top:3%;
    left: 0;
    height: 20%;
    width: 100%;
}

#jianjie
{
    position:absolute;
    /*border: red solid 1px;*/
    top:25%;
    left: 10%;
    width: 80%;
    height: 50%;
}

#reg_log
{
    position:absolute;
    /*border: red solid 1px;*/
    top:77%;
    left: 0;
    width: 100%;
    height: 20%;
}


#log
{
    position:absolute;
    /*border: red solid 1px;*/
    top:79%;
    left: 18%;
    width: 17%;
    height: 7%;
}

#reg
{
    position:absolute;
    /*border: red solid 1px;*/
    top:79%;
    left: 56%;
    width: 17%;
    height: 7%;
}




